@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Dela+Gothic+One&display=swap");

.myname {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  color: #111;
  font-weight: 800;
}

@media only screen and (max-width: 37.5em) {
  .myname {
    font-size: 4.5rem;
  }
}

.account-profile {
  margin: auto;
  position: relative;
  text-align: center;
  display: flex; /* Use Flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column; /* Stack elements vertically */
}

.account-profile .blob {
  position: absolute;
  border-radius: 50%;
  -webkit-animation: fly 5.8s linear infinite alternate;
  animation: fly 5.8s linear infinite alternate;
}

.account-profile .blob:nth-child(1) {
  width: 18px;
  height: 18px;
  background: #28327a;
  animation-delay: 0.9s;
  margin-top: 20px;
  left: 24%;
  top: -3%;
}

.account-profile .blob:nth-child(2) {
  width: 18px;
  height: 18px;
  background: #004540;
  animation-delay: 0.2s;
  margin-top: 20px;
  right: 24%;
  top: 85%;
}

.account-profile .blob:nth-child(3) {
  width: 18px;
  height: 16px;
  background: #eeeeee;
  animation-delay: 1.8s;
  margin-top: 20px;
  left: 29%;
  top: 91%;
}
.account-profile .blob:nth-child(4) {
  width: 18px;
  height: 16px;
  background: #00a2c9;
  animation-delay: 1.8s;
  margin-top: 20px;
  left: 74%;
  top: 10%;
}
@-webkit-keyframes fly {
  40% {
    transform: translate(-10px, -10px);
  }
  60% {
    transform: translate(-18px, -8px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes fly {
  40% {
    transform: translate(-10px, -10px);
  }
  60% {
    transform: translate(-18px, -8px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
