@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker:wght@300;400;500;600;700&display=swap");
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
body {
  color: #fff;
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.8),
      rgba(71, 2, 167, 0.502)
    ),
    url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
  background-position: center;
}
